
body{

	background-image: url(../img/background.jpg); 
	background-size: cover;"
}

.div_1{

	width: 90%;  
	text-align: center; 
	margin: auto;
}

.div_2{

	width: 100%; 
	min-height:100px ; 
	background: #005883; 
	display: inline-block; 
	text-align: left; 
	border-radius: 20px; 
	color: white; 
	margin-bottom: 5px; 
	margin-top: 5px;
}

.table_1{

	border: inset 0pt;
}

.td_1{

	width: 4%; 
	padding-top: 15px; 
	border: none;
}

.td_2{

	text-align: center; 
	border:none;
}

.span_1{

	color: white; 
	font-size: 40px; 
	
	font-weight: bold;
}

.span_2{

	color: white; 
	font-size: 15px; 
	font-weight: bold;
	right: 50px;
	text-align: center;
}

.td_3{

	width: 4%; 
	padding-top: 15px; 
	border: none;
}

.div_3{

	width: 100%; 
	min-height: 80px; 
	background: #F0B429; 
	display: inline-block; 
	text-align: center; 
	margin-bottom: 5px; 
	border-radius: 20px;
}

.div_4{

	text-align: center; 
	margin: auto;
}


footer{

	background: #333;  
	margin: auto; 
	clear: both; 
	width:90%; 
	border-radius:0px; 
	margin-top:5px;" 
	border-radius: 5px;
	color: white;
}















* {
	margin:0px;
	padding:0px;
}

#header {
	margin:auto;
	width:90%;
	font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
	list-style:none;
}

.nav > li {
	/*float:left;*/
	display: inline-block;
	padding-top: 15px;

}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	border: 1px solid white;
	border-radius: 10px;
}

.nav li a:hover {
	background-color:#434343;
	text-shadow: 0 0 10px white;

}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}